@font-face {
    font-family: 'dr_huilo';
    src: url('../fonts/irelandkyr.ttf') format('truetype');
}
body::-webkit-scrollbar {
    width: 6px;/* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0);/* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(252, 252, 252);
}



body {
    background-color: #000;
}

.main_info {
  margin: 150px;
  color: white;
  letter-spacing: 8px;
  font-size: 120px;
  font-family: "dr_huilo";
}

.info {
  padding-top: 25px;
  font-size: 22px;
  font-family: "Poiret One", sans-serif;
}